.message__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

.message__text {
    margin-bottom: 2rem;
}

a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    font-size: 1.4rem;
}